/*********************FONTS**********************/
@font-face {
    font-family: "Arial";
    src: url("../fonts/Arial.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Verdana";
    src: url("../fonts/Verdana.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
/*********************VARIABLES**********************/

$dark-color: #000;
$primary-color: #34ACA7;
$smokie-color: #E5E5E5;

/*********************RESET**********************/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: "Arial";
}
/*********************WRAPPERS**********************/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    margin: 46px 0 0 0;
    @media screen and (max-width: 1176px) {
        margin: 50px 0 0 0;
    }
    @media screen and (max-width: 992px) {
        margin: 20px 0 0 0;
    }
    @media screen and (max-width: 580px) {
        margin: 32px 0 0 0;
    }
}
._container {
    margin: 0 auto;
    max-width: 1086px;
    //padding: 0 20px
    //box-sizing: content-box
    @media screen and (max-width: 1176px) {
        max-width: 897px;
    }
    @media screen and (max-width: 992px) {
        max-width: 712px;
    }
    @media screen and (max-width: 768px) {
        max-width: 545px;
    }
    @media screen and (max-width: 580px) {
        max-width: 440px;
    }
}
._content-container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
        display: block;
    }
}
/*********************ASIDE**********************/

aside {
    max-width: 140px;
    @media screen and (max-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 712px;
        margin-bottom: 55px;
    }
    @media screen and (max-width: 768px) {
        max-width: 545px;
    }
    @media screen and (max-width: 580px) {
        max-width: 440px;
        flex-direction: column-reverse;
        margin-bottom: 42px;
    }
    @media screen and (max-width: 450px) {
        padding: 0 20px;
        box-sizing: content-box;
    }
    & > img {
        display: block;
        margin: 0 auto 5px;
        @media screen and (max-width: 992px) {
            margin: 0;
        }
    }
    h3 {
        text-transform: uppercase;
        font-family: 'Verdana';
        border-bottom: 1px dashed $smokie-color;
        padding: 5px 0;
        margin-bottom: 9px;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
    .meun__list {
        @media screen and (max-width: 992px) {
            display: flex;
            align-items: center;
            padding-right: 31px;
        }
        @media screen and (max-width: 768px) {
            padding: 0;
        }
        @media screen and (max-width: 450px) {
            flex-wrap: wrap;
        }
        &-item:last-child {
            @media screen and (max-width: 768px) {
                margin-right: 0;
            }
        }
        &-item {
            margin: 0 0 31px 3px;
            @media screen and (max-width: 992px) {
                margin: 0 36px 0 0;
            }
            @media screen and (max-width: 580px) {
                margin: 0 36px 34px 0;
            }
            a {
                display: flex;
                align-items: center;
                @media screen and (max-width: 992px) {
                    flex-direction: column;
                }
            }
            img {
                margin-right: 12px;
                @media screen and (max-width: 992px) {
                    margin: 0 0 12px 0;
                }
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
            div {
                font-style: italic;
                color: $primary-color;
            }
        }
    }
    button {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 8px;
        font-size: 10px;
        font-style: italic;
        color: $primary-color;
        background-color: #fff;
        border: 1px solid $smokie-color;
        border-radius: 5px;
        cursor: pointer;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    p {
        font-style: italic;
        font-size: 10px;
        line-height: 19px;
        margin-bottom: 15px;
        display: inline-block;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}
/*********************MAIN**********************/
main {
    max-width: 896px;
    @media screen and (max-width: 1176px) {
        max-width: 712px;
    }
    @media screen and (max-width: 768px) {
        max-width: 545px;
    }
    @media screen and (max-width: 580px) {
        max-width: 480px;
    }
}

.slider {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    &-counter {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        z-index: 15;
        padding: 10px;
        @media screen and (max-width: 768px) {
            display: flex;
        }
    }
    &__img1 {
        background: url(../img/3.jpg) center center/cover no-repeat;
        width: 896px;
        height: 445px;
        @media screen and (max-width: 1176px) {
            width: 712px;
        }
        @media screen and (max-width: 768px) {
            width: 545px;
            height: 353px;
        }
        @media screen and (max-width: 580px) {
            max-width: 480px;
            height: 373px;
            margin-left: -20px;
            @media screen and (max-width: 476px) {
                margin-left: 0;
                max-width: 100%;
                //object-fit: content
            }
        }
        &-title {
            display: inline-block;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            padding: 16px;
            background-color: #fff;
            margin-top: 285px;
            @media screen and (max-width: 768px) {
                width: 100%;
                opacity: 0.6;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-top: 257px;
            }
            @media screen and (max-width: 580px) {
                margin-top: 285px;
            }
        }
        &-descr {
            max-width: 487px;
            color: #fff;
            font-style: italic;
            padding: 14px;
            background-color: #000;
            @media screen and (max-width: 1176px) {
                max-width: 481px;
            }
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    &__img2 {
        background: url(../img/1.jpg) center center/cover no-repeat;
        width: 896px;
        height: 445px;
        @media screen and (max-width: 1176px) {
            width: 712px;
        }
        @media screen and (max-width: 768px) {
            width: 545px;
            height: 353px;
        }
        @media screen and (max-width: 580px) {
            max-width: 480px;
            height: 373px;
            margin-left: -20px;
            @media screen and (max-width: 476px) {
                margin-left: 0;
                max-width: 100%;
                //object-fit: content
            }
        }
        &-title {
            display: inline-block;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            padding: 16px;
            background-color: #fff;
            margin-top: 285px;
            @media screen and (max-width: 768px) {
                width: 100%;
                opacity: 0.6;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-top: 257px;
            }
            @media screen and (max-width: 580px) {
                margin-top: 285px;
            }
        }
        &-descr {
            max-width: 487px;
            color: #fff;
            font-style: italic;
            padding: 14px;
            background-color: #000;
            @media screen and (max-width: 1176px) {
                max-width: 481px;
            }
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    &__img3 {
        background: url(../img/2.jpg) center center/cover no-repeat;
        width: 896px;
        height: 445px;
        @media screen and (max-width: 1176px) {
            width: 712px;
        }
        @media screen and (max-width: 768px) {
            width: 545px;
            height: 353px;
        }
        @media screen and (max-width: 580px) {
            max-width: 480px;
            height: 373px;
            margin-left: -20px;
            @media screen and (max-width: 476px) {
                margin-left: 0;
                max-width: 100%;
                //object-fit: content
            }
        }
        &-title {
            display: inline-block;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            padding: 16px;
            background-color: #fff;
            margin-top: 285px;
            @media screen and (max-width: 768px) {
                width: 100%;
                opacity: 0.6;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-top: 257px;
            }
            @media screen and (max-width: 580px) {
                margin-top: 285px;
            }
        }
        &-descr {
            max-width: 487px;
            color: #fff;
            font-style: italic;
            padding: 14px;
            background-color: #000;
            @media screen and (max-width: 1176px) {
                max-width: 481px;
            }
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
    &__img4 {
        background: url(../img/food_sense_more1177.jpg) center center/cover no-repeat;
        width: 896px;
        height: 445px;
        @media screen and (max-width: 1176px) {
            width: 712px;
        }
        @media screen and (max-width: 768px) {
            width: 545px;
            height: 353px;
        }
        @media screen and (max-width: 580px) {
            max-width: 480px;
            height: 373px;
            margin-left: -20px;
            @media screen and (max-width: 476px) {
                margin-left: 0;
                max-width: 100%;
                //object-fit: content
            }
        }
        &-title {
            display: inline-block;
            font-style: italic;
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            padding: 16px;
            background-color: #fff;
            margin-top: 285px;
            @media screen and (max-width: 768px) {
                width: 100%;
                opacity: 0.6;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-top: 257px;
            }
            @media screen and (max-width: 580px) {
                margin-top: 285px;
            }
        }
        &-descr {
            max-width: 487px;
            color: #fff;
            font-style: italic;
            padding: 14px;
            background-color: #000;
            @media screen and (max-width: 1176px) {
                max-width: 481px;
            }
            @media screen and (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
}

.tabs {
    display: flex;
    &__item:not(:last-child) {
        margin-right: 1px; 
    }
    //&__item:not(:nth-last-child(2)) {
    //    margin-right: 1px; 
    //}
    &__item {
        width: calc(100% / 4);
        padding: 26px 0 22px 20px;
        cursor: pointer;
        //background: #EFF8F7;
        @media screen and (max-width: 1176px) {
            padding: 10px 50px;
            border-right: 1px solid #D6E6E6;
        }
        &-title {
            font-size: 18px;
            line-height: 18px;
            color: $primary-color;
            @media screen and (max-width: 1176px) {
                font-size: 1rem;
                line-height: 1rem;
            }
        }
        &-descr {
            font-style: italic;
            font-size: 10px;
            line-height: 19px;
            color: $primary-color;
            @media screen and (max-width: 1176px) {
                display: none;
            }
        }
    }
    &__item:last-child {
        @media screen and (max-width: 1176px) {
            border-right: none;
        }
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

._sub-cont {
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
        margin-bottom: 16px;
    }
}

.subscription {
    padding: 8px 18px 10px;
    display: flex;
    align-items: center;
    border-top: 1px dashed $smokie-color;
    border-bottom: 1px dashed $smokie-color;
    @media screen and (max-width: 768px) {
        display: block;
    }
    &__icon {
        margin-right: 16px;
    }
    &__descr {
        max-width: 530px;
        margin-right: 64px;
        font-style: italic;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }
    &__form {
        display: flex;
        input {
            width: 160px;
            height: 22px;
            background: #FFFFFF;
            border: 1px solid $smokie-color;
            margin-right: 18px;
            padding: 6px;
            color: $smokie-color;
        }
            @media screen and (max-width: 768px) {
                width: 394px;
                margin-right: 36px;
            }
            @media screen and (max-width: 280px) {
                margin-bottom: 10px;
            }
        @media screen and (max-width: 280px) {
            flex-wrap: wrap;
        }
        input::placeholder {
            color: $smokie-color;
        }
    }
    button {
        width: 80px;
        height: 23px;
        background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
        border: 1px solid $smokie-color;
        border-radius: 2px;
        font-size: 10px;
        line-height: 10px;
        color: $dark-color;
        cursor: poiner;
    }
}

.cards {
    padding: 29px 0 40px;
    @media screen and (max-width: 410px) {
        padding: 0 20px;
        box-sizing: content-box;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @media screen and (max-width: 580px) {
            justify-content: space-around;
        }
    }
    &__card {
        width: 207px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1176px) {
            width: 159px;
        }
        @media screen and (max-width: 768px) {
            width: 256px;
            margin-bottom: 14px;
        }
        @media screen and (max-width: 580px) {
            width: 375px;
        }
        &-img {
            border: 1px solid $smokie-color;
            filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
            margin-bottom: 11px;
        }
        &-title {
            flex: 1 1 auto;
            font-size: 16px;
            line-height: 131%;
            letter-spacing: -0.02em;
            color: $primary-color;
            margin-bottom: 9px;
        }
        &-descr {
            font-size: 14px;
            line-height: 143%;
            letter-spacing: -0.02em;
            color: $dark-color;
            margin-bottom: 11px;
            min-height: 100px;
            @media screen and (max-width: 1176px) {
                min-height: 164px;
            }
            @media screen and (max-width: 768px) {
                min-height: 80px;
            }
        }
        &-date {
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -0.02em;
            color: $smokie-color;
            &-link {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: -0.02em;
                color: $primary-color;
            }
        }
    }
}

/*********************FOOTER**********************/
.footer {
    padding: 28px 8px 35px;
    border-top: 2px solid $smokie-color;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        padding: 26px 8px 20px;
    }
    @media screen and (max-width: 580px) {
        padding: 21px 8px 20px;
    }
    &__links {
        &-list {
            display: flex;
            margin-bottom: 5px;
            &-item {
                border-right: 1px solid $smokie-color;
                padding-right: 3px;
                margin-right: 3px;
                a {
                    font-size: 12px;
                    line-height: -0.02em;
                    color: $primary-color;
                }
            }
            &-item:last-child {
                border-right: none;
            }
        }
    }
    &__conf {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.02em;
        color: $smokie-color;
    }
}